[color]
	ui = auto
[core]
	editor = vim
	autocrlf = input
	safecrlf = false
[http]
	postBuffer = 524288000
[commit]
	template = ~/.git_commit_msg
[push]
	default = simple
[diff]
	compactionHeuristic = true
[init]
	defaultBranch = main
[user]
	email = y-suzuki@radiol.med.osaka-u.ac.jp
	name = Yuki Suzuki


[include]
    path = ~/.gitconfig.local
